// Coloquei uns nomes aleatórios devido ao tempo, mas normalmente pensaria melhor neles

$red: #f77274;
$dark-red: #d26769;
$brown: #5b5855;
$white: #fff;
$gray: #faf9f8;
$light-gray: #f4f2f0;
$light-gray-2: #e6e3e1;